@import '../../theme/vars.less'; // 引入全局样式变量集，内含 @size-scale、各类色值等变量

// 由于 less 变量的懒生效特性，变量命名空间存在冲突，此处 prefix 变量命名前需要加特定前缀
// https://less.bootcss.com/features/#variables-lazy-evaluation
// @no-cssvar: 用于生成选择器名称
@demo-block-prefix: ~'exd-demo-block';

// DemoBlock 样式变量定义
@demo-block-background: #fff;
@demo-block-padding: 1px;
@demo-block-margin-top: 12px;
@demo-block-title-font-size: 16px;
@demo-block-title-color: #666;
@demo-block-title-padding-top: 12px;
@demo-block-title-padding-x: 16px;
@demo-block-content-padding: 16px;
@demo-block-plain-title-color: #999;
@demo-block-plain-title-padding-y: 12px;
@demo-block-plain-title-padding-x: 16px;
@demo-block-plain-title-font-size: 14px;

.@{demo-block-prefix} {
  /* 组件样式 */
  background: @demo-block-background;
  overflow: hidden;
  padding: @demo-block-padding;

  & + .@{demo-block-prefix} {
    margin-top: @demo-block-margin-top;
  }

  &-title {
    margin: 0;
    font-size: @demo-block-title-font-size;
    color: @demo-block-title-color;
    width: 100%;
    padding: @demo-block-title-padding-top @demo-block-title-padding-x 0;
  }

  &-content {
    margin: 0;
    padding: @demo-block-content-padding;
    list-style: none;
  }

  &--plain {
    background: transparent;

    & + & {
      margin-top: 0;
    }

    .@{demo-block-prefix}-title {
      color: @demo-block-plain-title-color;
      padding: @demo-block-plain-title-padding-y @demo-block-plain-title-padding-x;
      font-size: @demo-block-plain-title-font-size;
    }

    .@{demo-block-prefix}-content {
      padding: 0;
    }
  }
}
