@import '../../theme/vars.less'; // 引入全局样式变量集，内含 @size-scale、各类色值等变量
@import '../UnstyledIOInput/style.less';
@import '../LineLabel/style.less';
@import '../Input/style.less';
@import '../TextArea/style.less';

// 由于 less 变量的懒生效特性，变量命名空间存在冲突，此处 prefix 变量命名前需要加特定前缀
// https://less.bootcss.com/features/#variables-lazy-evaluation
// @no-cssvar: 用于生成选择器名称
@line-input-prefix: ~'exd-line-input';

// LineInput 样式变量
@line-input-font-size: 14px;
@line-input-color: @ant-color-gray-10;
@line-input-placeholder-color: @ant-color-gray-6;
@line-input-disabled-color: @ant-color-gray-5;
@line-input-prefix-line-height: 22px;
@line-input-clear-size: 17px;
@line-input-clear-color: @ant-color-gray-6;
@line-input-suffix-margin-left: 6px;
@line-input-transition-duration: @transition-speed-fast;

// .@{line-input-prefix} {
//   /* 组件样式 */
// }

.@{line-input-prefix}__label {
  &--disabled {
    pointer-events: none;
  }
  &--multiple {
    height: auto;
  }
}

.@{line-input-prefix}__input {
  &::placeholder {
    color: @ant-color-gray-7;
  }
}

.@{line-input-prefix}__input,
.@{line-input-prefix}__textarea {
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 0;
  resize: none;
  width: 100%;
  background-color: transparent;
  font-size: @line-input-font-size * @size-scale;
  color: @line-input-color;

  &--disabled {
    color: @line-input-disabled-color;
    pointer-events: none;
  }

  &::placeholder {
    color: @line-input-placeholder-color;
  }

  opacity: 0;
  transition: opacity @line-input-transition-duration;

  &--active {
    opacity: 1;
  }
}

.@{line-input-prefix}__textarea {
  white-space: pre;
}

.@{line-input-prefix}__disabled {
  color: @line-input-disabled-color;
}

.@{line-input-prefix}__prefix {
  line-height: @line-input-prefix-line-height * @size-scale;
  font-size: @line-input-font-size * @size-scale;
  color: @line-input-disabled-color;
}

.@{line-input-prefix}__clear {
  font-size: @line-input-clear-size * @size-scale;
  cursor: pointer;
  color: @line-input-clear-color;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity @line-input-transition-duration, transform @line-input-transition-duration;

  &--show {
    opacity: 1;
    transform: scale(1);
  }
}

.@{line-input-prefix}__suffix-wrapper {
  display: flex;
  align-items: center;

  .@{line-input-prefix}__suffix {
    margin-left: @line-input-suffix-margin-left * @size-scale;
  }
}

.@{line-input-prefix}__placeholder {
  color: @line-input-placeholder-color;

  &--capitalize {
    &::placeholder {
      text-transform: capitalize;
    }
  }
}
