@import '../../../theme/vars.less';

// @no-cssvar: 用于生成选择器名称
@step-prefix: ~'exd-step';
@step-width: 84px;
@step-icon-size: 24px;
@step-icon-color: #999;
@step-icon-left: 30px;
@step-line-width: 28px;
@step-line-color: #e9e9e9;
@step-line-thickness: 2px;
@step-circle-font-size: 12px;
@step-circle-background: #fff;
@step-circle-line-height: 20px;
@step-content-font-size: 14px;
@step-content-line-height: 16px;
@step-content-margin-top: 6px;
@step-title-color: #333;
@step-description-color: #999;
@step-first-last-width: 54px;
@step-first-last-offset: 28px;
@step-completed-border-width: 2px;
@step-completed-check-left: 5px;
@step-completed-check-top: 6px;
@step-completed-check-width: 10px;
@step-completed-check-height: 5px;
@step-completed-check-border-width: 2px;
@step-completed-check-color: #fff;
@step-completed-check-rotate: -45deg;

.@{step-prefix} {
  flex: 0;
  padding-bottom: 0;
  display: inline-block;
  width: @step-width * @size-scale;
  box-sizing: initial;

  &-header {
    position: relative;
    width: @step-width * @size-scale;
    height: @step-icon-size * @size-scale;
    text-align: center;

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      width: @step-line-width * @size-scale;
      height: 0;
      transform: translateY(-50%);
      border-top: @step-line-thickness * @size-scale solid @step-line-color;
      content: '';
    }

    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      width: @step-line-width * @size-scale;
      height: 0;
      transform: translateY(-50%);
      border-top: @step-line-thickness * @size-scale solid @step-line-color;
      content: '';
    }

    &-icon {
      position: absolute;
      left: @step-icon-left * @size-scale;
      top: 0;
      width: @step-icon-size * @size-scale;
      height: @step-icon-size * @size-scale;
      color: @step-icon-color;

      i,
      i.exd-icon {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: @step-icon-size * @size-scale;
      }

      &-circle {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: @step-icon-size * @size-scale;
        line-height: @step-circle-line-height * @size-scale;
        border-radius: 100%;
        font-size: @step-circle-font-size * @size-scale;
        font-weight: 500;
        border: @step-line-thickness * @size-scale solid @step-line-color;
        background-color: @step-circle-background;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: @step-content-font-size * @size-scale;
    line-height: @step-content-line-height * @size-scale;
    &-container {
      width: 100%;
    }

    &-title {
      margin-top: @step-content-margin-top * @size-scale;
      max-width: @step-width * @size-scale;
      word-break: break-all;
      font-weight: 500;
      color: @step-title-color;
    }

    &-description {
      margin-top: @step-content-margin-top * @size-scale;
      max-width: @step-width * @size-scale;
      word-break: break-all;
      font-weight: 400;
      color: @step-description-color;
    }
  }

  &:last-child {
    .@{step-prefix}-header {
      width: @step-first-last-width * @size-scale;

      &::after {
        width: 0;
      }

      &-icon {
        right: 0;
      }
    }

    .@{step-prefix}-content {
      justify-content: flex-end;
      &-title,
      &-description {
        position: relative;
        width: calc(100% + @step-first-last-offset * @size-scale);
      }
    }
  }

  &:first-child {
    .@{step-prefix}-header {
      width: @step-first-last-width * @size-scale;

      &::before {
        width: 0;
      }

      &-icon {
        left: 0;
      }
    }

    .@{step-prefix}-content {
      justify-content: flex-start;
      &-title,
      &-description {
        position: relative;
        left: -@step-first-last-offset * @size-scale;
        width: calc(100% + @step-first-last-offset * @size-scale);
      }
    }
  }

  &--process {
    .@{step-prefix}-header {
      &::before,
      &::after {
        border-color: @color-primary;
      }

      &-icon {
        color: @color-primary;

        &-circle {
          border-color: @color-primary;
        }
      }
    }
  }

  &--completed {
    .@{step-prefix}-header {
      &::before,
      &::after {
        border-color: @color-primary;
      }

      &-icon {
        color: @color-primary;

        &-circle {
          background-color: @color-primary;
          border: @step-completed-border-width * @size-scale solid @color-primary;
          // border: none;

          &::before {
            position: absolute;
            left: @step-completed-check-left * @size-scale;
            top: @step-completed-check-top * @size-scale;
            width: @step-completed-check-width * @size-scale;
            height: @step-completed-check-height * @size-scale;
            border-left: @step-completed-check-border-width * @size-scale solid @step-completed-check-color;
            border-bottom: @step-completed-check-border-width * @size-scale solid @step-completed-check-color;
            transform: rotate(@step-completed-check-rotate);
            content: '';
          }
        }
      }
    }
  }

  &--error {
    .@{step-prefix}-header {
      &::before,
      &::after {
        border-color: @color-red;
      }

      &-icon {
        color: @color-red;

        &-circle {
          border-color: @color-red;
        }
      }
    }

    .@{step-prefix}-content {
      &-title {
        color: @color-red;
      }
    }
  }
}
