@import '../../theme/vars.less'; // 引入全局样式变量集，内含 @size-scale、各类色值等变量
@import '../Result/style.less'; // 引入 Result 组件样式

// 由于 less 变量的懒生效特性，变量命名空间存在冲突，此处 prefix 变量命名前需要加特定前缀
// https://less.bootcss.com/features/#variables-lazy-evaluation
// @no-cssvar: 用于生成选择器名称
@empty-prefix: ~'exd-empty';
@empty-icon-color: @color-gray-disable; // #bfbfbf 接近原来的 #ccc
@empty-image-width: 120px;
@empty-text-color: @color-gray-secondary; // #8c8c8c 接近原来的 #999

.@{empty-prefix} {
  /* Empty 特有样式：覆盖 Result 的图标颜色和文字颜色为灰色 */
  .@{result-prefix}-icon {
    color: @empty-icon-color;

    > img {
      width: @empty-image-width * @size-scale;
    }
  }

  .@{result-prefix}-title {
    color: @empty-text-color;
  }
}
