@import '../NavBar/style.less';
@import '../Modal/style.less';
@import '../TransitionSlideUp/style.less';

// @no-cssvar: 用于生成选择器名称
@popup-prefix: ~'exd-popup';
@popup-border-radius: 14px;
@popup-background: #fff;
@popup-header-border-color: @color-gray-background;
@popup-transition-duration: 0.3s;

.@{popup-prefix} {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height @popup-transition-duration, min-height @popup-transition-duration;

  &-round {
    border-top-left-radius: @popup-border-radius;
    border-top-right-radius: @popup-border-radius;
  }

  &-body {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: @popup-background;
    overflow: auto;
  }

  &-content {
    flex: 1;
    height: 100%;
    overflow: auto;
  }

  &-header {
    flex-shrink: 0;
    border-bottom: solid 1px @popup-header-border-color;
    border-top: solid 1px @popup-header-border-color;
  }
}
