@import '../../theme/vars.less';

// @no-cssvar: 用于生成选择器名称
@spinner-prefix: ~'exd-spin';

// Spinner 变量定义
@spinner-size: 32px;
@spinner-stroke-width: 3;
@spinner-animation-duration: 1.6s;

.@{spinner-prefix} {
  position: relative;
  display: inline-block;
  width: @spinner-size * @size-scale;
  max-width: 100%;
  height: @spinner-size * @size-scale;
  max-height: 100%;
  vertical-align: middle;
  animation: exd-spin--rotate @spinner-animation-duration linear infinite;
  color: inherit;

  &-circle {
    display: block;
    width: 100%;
    height: 100%;

    circle {
      animation: exd-spin-circle @spinner-animation-duration ease-in-out infinite;
      stroke: currentColor;
      stroke-width: @spinner-stroke-width;
      stroke-linecap: round;
    }
  }
}

@keyframes exd-spin-circle {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes exd-spin--rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
