@import '../TransitionFade/style.less';
@import '../Overlay/style.less';
@import '../Portal/style.less';
@import '../../theme/vars.less';

// @no-cssvar: 用于生成选择器名称
@modal-prefix: ~'exd-modal';
@modal-z-index-low: 999;
@modal-z-index-normal: 9999;
@modal-z-index-high: 99999;
@modal-z-index-highest: 999999;

.@{modal-prefix}-level {
  &-low {
    z-index: @modal-z-index-low;
  }

  &-normal {
    z-index: @modal-z-index-normal;
  }

  &-high {
    z-index: @modal-z-index-high;
  }

  &-highest {
    z-index: @modal-z-index-highest;
  }
}

.@{modal-prefix}-mask {
  z-index: inherit;
}

.@{modal-prefix}-portal {
  position: fixed;
}

.@{modal-prefix} {
  position: fixed;
  z-index: inherit;
  text-align: center;
  overflow: hidden;

  &-center {
    top: 50%;
    left: 50%;
    // @hardcoded-ignore
    transform: translate3d(-50%, -50%, 0);
  }

  &-top,
  &-bottom {
    width: 100%;
  }

  &-top {
    top: 0;
  }

  &-bottom {
    bottom: 0;
  }

  &-scrollable {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
}
