@import '../PickerView/style.less';

// @no-cssvar: 用于生成选择器名称
@date-picker-view-prefix: ~'exd-date-picker-view';

.@{date-picker-view-prefix} {
  display: flex;
  width: 100%;
  > div {
    flex: 1;
  }
}
