@import '../../theme/vars.less'; // 引入全局样式变量集，内含 @size-scale、各类色值等变量
@import '../BlockLabel/style.less';

// 由于 less 变量的懒生效特性，变量命名空间存在冲突，此处 prefix 变量命名前需要加特定前缀
// https://less.bootcss.com/features/#variables-lazy-evaluation
// @no-cssvar: 用于生成选择器名称
@block-io-label-prefix: ~'exd-block-io-label';

// BlockIOLabel 样式变量
@block-io-label-disabled-color: @ant-color-gray-6;
@block-io-label-prefix-line-height: 22px;
@block-io-label-prefix-font-size: 14px;
@block-io-label-prefix-color: @ant-color-gray-6;

// .@{block-io-label-prefix} {
//   /* 组件样式 */
// }

// .@{block-io-label-prefix}__label {
//   &--disabled {
//     pointer-events: none;
//   }
// }

// .@{block-io-label-prefix}__disabled {
//   color: @block-io-label-disabled-color;
// }

// .@{block-io-label-prefix}__prefix {
//   line-height: @block-io-label-prefix-line-height * @size-scale;
//   font-size: @block-io-label-prefix-font-size * @size-scale;
//   color: @block-io-label-prefix-color;
// }
