@import '../useScrollLock/style.less';
@import '../TransitionFade/style.less';

// @no-cssvar: 用于生成选择器名称
@overlay-prefix: ~'exd-overlay';
@overlay-background: rgba(0, 0, 0, 0.5);

.@{overlay-prefix} {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: @overlay-background;
  display: flex;
  align-items: center;
  justify-content: center;

  &-transparent {
    background-color: transparent;
  }

  &-absolute {
    position: absolute;
  }
}
