@import '../../../theme/vars.less';

// @no-cssvar: 用于生成选择器名称
@cell-group-prefix: ~'exd-cell-group';

// Cell.Group 样式变量定义
@cell-group-title-padding-y: 12px;
@cell-group-title-padding-x: 16px;
@cell-group-title-color: #999;
@cell-group-title-font-size: 12px;
@cell-group-inset-margin-x: 16px;
@cell-group-inset-border-radius: 8px;

.@{cell-group-prefix} {
  &-title {
    padding: @cell-group-title-padding-y * @size-scale @cell-group-title-padding-x * @size-scale;
    color: @cell-group-title-color;
    font-size: @cell-group-title-font-size * @size-scale;
  }

  &-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    // background-color: #fff;
    overflow: hidden;
  }

  &-inset {
    margin: 0 @cell-group-inset-margin-x * @size-scale;
    // border-radius: 8px;
    overflow: hidden;

    .@{cell-group-prefix}-content {
      border-radius: @cell-group-inset-border-radius;
    }
  }
}
