@import '../../TransitionSlideDown/style.less';
@import '../../Modal/style.less';

// @no-cssvar: 用于生成选择器名称
@notify-prefix: ~'exd-notify';
@notify-opacity: 0.92;
@notify-font-size: 14px;
@notify-padding-x: 16px;
@notify-padding-y: 12px;
@notify-color: #fff;

.@{notify-prefix} {
  width: 100%;
  opacity: @notify-opacity;

  &-untouchable {
    pointer-events: none;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @notify-color;
    box-sizing: border-box;
    font-size: @notify-font-size * @size-scale;
    padding: @notify-padding-y * @size-scale @notify-padding-x * @size-scale;
  }

  &-info {
    background-color: @color-primary;
  }

  &-success {
    background-color: @color-success;
  }

  &-warning {
    background-color: @color-warning;
  }

  &-error {
    background-color: @color-danger;
  }
}
