@import '../PickerView/style.less';

// @no-cssvar: 用于生成选择器名称
@cascade-picker-view-prefix: ~'exd-cascade-picker-view';

.@{cascade-picker-view-prefix} {
  display: flex;
  width: 100%;

  > div {
    flex: 1;
  }
}
