@import '../../../theme/vars';
@import '../../Iconfont/style.less';

// @no-cssvar: 用于生成选择器名称
@tab-bar-item-prefix: ~'exd-tab-bar-item';
@tab-bar-item-active-color: @color-primary;
@tab-bar-item-icon-size: 22px;
@tab-bar-item-name-font-size: 12px;
@tab-bar-item-name-margin-top: 3px;

.@{tab-bar-item-prefix} {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: color 0.2s;
  line-height: 1;
  cursor: pointer;

  &--active {
    color: @tab-bar-item-active-color;
  }

  &__icon {
    .exd-icon,
    .exd-iconfont {
      font-size: @tab-bar-item-icon-size * @size-scale;
    }
  }

  &__name {
    margin-top: @tab-bar-item-name-margin-top * @size-scale;
    font-size: @tab-bar-item-name-font-size * @size-scale;
  }
}
