@import '../../theme/vars.less';
@import './slide.less';
@import './fade.less';
@import './slide-cover.less';
@import './none.less';

.exd-transition-switch__transition-group,
.exd-transition-switch__animated-switch {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.exd-transition-switch__animating {
  & + & {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &--none {
    animation-duration: @transition-speed-none;
  }

  &--fastest {
    animation-duration: @transition-speed-fastest;
  }

  &--fast {
    animation-duration: @transition-speed-fast;
  }

  &--normal {
    animation-duration: @transition-speed-normal;
  }

  &--slow {
    animation-duration: @transition-speed-slow;
  }

  &--slowest {
    animation-duration: @transition-speed-slowest;
  }

  &--test {
    animation-duration: @transition-speed-debug;
  }

  animation-fill-mode: both;
}
