@import '../../theme/vars.less'; // 引入全局样式变量集，内含 @size-scale、各类色值等变量
@import '../CellLabel/style.less';

// 由于 less 变量的懒生效特性，变量命名空间存在冲突，此处 prefix 变量命名前需要加特定前缀
// https://less.bootcss.com/features/#variables-lazy-evaluation
// @no-cssvar: 用于生成选择器名称
@cell-io-label-prefix: ~'exd-cell-io-label';

// CellIOLabel 样式变量
@cell-io-label-disabled-color: #c2bcbe;
@cell-io-label-prefix-line-height: 22px;
@cell-io-label-prefix-font-size: 14px;
@cell-io-label-prefix-color: #c2bcbe;

.@{cell-io-label-prefix}__label {
  &--disabled {
    pointer-events: none;
  }
}

.@{cell-io-label-prefix}__disabled {
  color: @cell-io-label-disabled-color;
}

.@{cell-io-label-prefix}__prefix {
  line-height: @cell-io-label-prefix-line-height * @size-scale;
  font-size: @cell-io-label-prefix-font-size * @size-scale;
  color: @cell-io-label-prefix-color;
}
