@import '../../theme/vars.less'; // 引入全局样式变量集，内含 @size-scale、各类色值等变量
@import '../UnstyledIODatePicker/style.less';
@import '../BlockIOLabel/style.less';

// 由于 less 变量的懒生效特性，变量命名空间存在冲突，此处 prefix 变量命名前需要加特定前缀
// https://less.bootcss.com/features/#variables-lazy-evaluation
// @no-cssvar: 用于生成选择器名称
@block-date-picker-prefix: ~'exd-block-date-picker';

// BlockDatePicker 样式变量
@block-date-picker-value-font-size: 14px;
@block-date-picker-disabled-color: @ant-color-gray-7;
@block-date-picker-disabled-arrow-color: @ant-color-gray-5;
@block-date-picker-clear-color: @ant-color-gray-5;
@block-date-picker-arrow-font-size: 18px;
@block-date-picker-arrow-color: @ant-color-gray-6;

.@{block-date-picker-prefix}__value {
  width: 100%;
  background-color: transparent;
  font-size: @block-date-picker-value-font-size * @size-scale;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.@{block-date-picker-prefix}__disabled {
  color: @block-date-picker-disabled-color;
  .@{block-date-picker-prefix}__value {
    color: @block-date-picker-disabled-color;
  }
  .@{block-date-picker-prefix}__arrow {
    .exd-icon,
    .exd-iconfont {
      color: @block-date-picker-disabled-arrow-color;
    }
  }
}

.@{block-date-picker-prefix}__clear {
  color: @block-date-picker-clear-color;
}

.@{block-date-picker-prefix}__arrow {
  display: flex;
  align-items: center;

  .exd-icon,
  .exd-iconfont {
    font-size: @block-date-picker-arrow-font-size * @size-scale;
    color: @block-date-picker-arrow-color;
  }
}
