@import '../Button/style.less';
@import '../Input/style.less';
@import '../../theme/vars.less'; // 引入全局样式变量集，内含 @size-scale、各类色值等变量

// 由于 less 变量的懒生效特性，变量命名空间存在冲突，此处 prefix 变量命名前需要加特定前缀
// https://less.bootcss.com/features/#variables-lazy-evaluation
// @no-cssvar: 用于生成选择器名称
@stepper-prefix: ~'exd-stepper';
@stepper-border-color: @ant-color-gray-5;
@stepper-border-width: 1px;
@stepper-border-radius: 4px;
@stepper-input-border-color: @ant-color-gray-5;
@stepper-width: 126px;
@stepper-block-height-extra: 8px;

.@{stepper-prefix} {
  /* 组件样式 */
  display: inline-block;
  border: solid @stepper-border-width @stepper-border-color;
  border-radius: @stepper-border-radius * @size-scale;

  &-block {
    display: block;
  }

  &-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &-input {
    border: 0;
    outline: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    border-left: solid @stepper-border-width @stepper-input-border-color;
    border-right: solid @stepper-border-width @stepper-input-border-color;
  }
}

// 尺寸相关
.@{stepper-prefix} {
  &-large {
    width: @stepper-width * @size-scale * @btn-size-scale-normal;
    height: @btn-inline-size-base * @size-scale * @btn-size-scale-normal;

    &.@{stepper-prefix}-block {
      width: 100%;
      height: (@btn-block-size-base + @stepper-block-height-extra) * @size-scale * @btn-size-scale-normal;
    }
  }

  &-normal {
    width: @stepper-width * @size-scale * @btn-size-scale-small;
    height: @btn-inline-size-base * @size-scale * @btn-size-scale-small;

    &.@{stepper-prefix}-block {
      width: 100%;
      height: (@btn-block-size-base + @stepper-block-height-extra) * @size-scale * @btn-size-scale-small;
    }
  }

  &-small {
    width: @stepper-width * @size-scale * @btn-size-scale-mini;
    height: @btn-inline-size-base * @size-scale * @btn-size-scale-mini;

    &.@{stepper-prefix}-block {
      width: 100%;
      height: (@btn-block-size-base + @stepper-block-height-extra) * @size-scale * @btn-size-scale-mini;
    }
  }
}
