@import '../../theme/vars.less';

// @no-cssvar: 用于生成选择器名称
@progress-bar-prefix: ~'exd-progress-bar';
@progress-bar-height: 4px;
@progress-bar-background: #e1e1e1;
@progress-bar-border-radius: 4px;
@progress-bar-active-color: @color-primary;

.@{progress-bar-prefix} {
  position: relative;
  width: 100%;
  height: @progress-bar-height * @size-scale;
  background: @progress-bar-background;
  border-radius: @progress-bar-border-radius * @size-scale;
  overflow: hidden;

  &-value {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: @progress-bar-height * @size-scale;
    background: @progress-bar-active-color;
    border-radius: @progress-bar-border-radius * @size-scale;
  }
}
