@import '../../theme/vars.less';

// @no-cssvar: 用于生成选择器名称
@divider-prefix: ~'exd-divider';

// Divider 变量定义
@divider-margin-x: 16px;
@divider-font-size: 10px;
@divider-line-min-width: 48px;
@divider-text-padding-x: 16px;
@divider-vertical-margin-x: 8px;
@divider-line-border-width: 1px;

.@{divider-prefix} {
  margin: 0 @divider-margin-x * @size-scale;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @color-gray-primary;
  font-size: @divider-font-size * @size-scale;
  border-width: 0;

  &::before,
  &::after {
    min-width: @divider-line-min-width * @size-scale;
    content: '';
    flex: 1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: @divider-line-border-width solid;
    border-color: @color-gray-border;
  }
  &-text {
    padding: 0 @divider-text-padding-x * @size-scale;
    text-align: center;
    line-height: 1.5em;
  }
}

.@{divider-prefix}-vertical {
  margin: 0 @divider-vertical-margin-x * @size-scale;
  border-left: @divider-line-border-width solid @color-gray-border;
  // 自适应高度
  height: auto;
  align-self: stretch;
}
