@import '../../theme/vars.less';

.exd-transition {
  &-enter-active {
    &.exd-speed {
      &-none {
        transition-duration: @transition-speed-none;
        animation-duration: @transition-speed-none;
      }

      &-fastest {
        transition-duration: @transition-speed-fastest;
        animation-duration: @transition-speed-fastest;
      }

      &-fast {
        transition-duration: @transition-speed-fast;
        animation-duration: @transition-speed-fast;
      }

      &-normal {
        transition-duration: @transition-speed-normal;
        animation-duration: @transition-speed-normal;
      }

      &-slow {
        transition-duration: @transition-speed-slow;
        animation-duration: @transition-speed-slow;
      }

      &-slowest {
        transition-duration: @transition-speed-slowest;
        animation-duration: @transition-speed-slowest;
      }

      &-debug {
        transition-duration: @transition-speed-debug;
        animation-duration: @transition-speed-debug;
      }
    }
  }

  &-exit-active {
    &.exd-speed {
      &-none {
        transition-duration: @transition-speed-none;
        animation-duration: @transition-speed-none;
      }

      &-fastest {
        transition-duration: @transition-speed-fastest;
        animation-duration: @transition-speed-fastest;
      }

      &-fast {
        transition-duration: @transition-speed-fast;
        animation-duration: @transition-speed-fast;
      }

      &-normal {
        transition-duration: @transition-speed-normal;
        animation-duration: @transition-speed-normal;
      }

      &-slow {
        transition-duration: @transition-speed-slow;
        animation-duration: @transition-speed-slow;
      }

      &-slowest {
        transition-duration: @transition-speed-slowest;
        animation-duration: @transition-speed-slowest;
      }

      &-debug {
        transition-duration: @transition-speed-debug;
        animation-duration: @transition-speed-debug;
      }
    }
  }
}
