@import '../../theme/vars.less';
@import '../UnstyledLabel/style.less';

// @no-cssvar: 用于生成选择器名称
@block-label-prefix: ~'exd-block-label';

// Block 样式变量
@block-label-wrapper-padding-y: 6px;
@block-label-bar-height: 60px;
@block-label-bar-border-radius: 8px;
@block-label-bar-border-color: @ant-color-gray-10;
@block-label-bar-margin-bottom: 4px;
@block-label-content-padding-x: 14px;
@block-label-content-padding-y: 8px;
@block-label-content-padding-top-active: 20px;
@block-label-content-font-size: 14px;
@block-label-content-color: @ant-color-gray-10;
@block-label-label-height: 24px;
@block-label-label-font-size: 14px;
@block-label-label-font-size-active: 12px;
@block-label-label-color: @ant-color-gray-8;
@block-label-label-top-active: 7px;
@block-label-placeholder-color: @ant-color-gray-7;
@block-label-placeholder-padding-top: 22px;
@block-label-helper-font-size: 12px;
@block-label-helper-min-height: 18px;
@block-label-helper-padding-x: 4px;
@block-label-prefix-padding-left: 14px;
@block-label-suffix-padding-right: 14px;
@block-label-caret-color: @color-primary;

// 状态颜色变量
@block-label-info-border-color: @ant-color-gray-5;
@block-label-info-helper-color: @ant-color-gray-7;
@block-label-success-border-color: @color-green;
@block-label-success-helper-color: @color-green;
@block-label-warn-border-color: @color-orange;
@block-label-warn-helper-color: @color-orange;
@block-label-error-border-color: @color-red;
@block-label-error-helper-color: @color-red;
@block-label-transition-duration: @transition-speed-fast;
@block-label-disabled-border-color: @ant-color-gray-5;
@block-label-disabled-color: @ant-color-gray-5;

.@{block-label-prefix}__wrapper {
  display: block;
  margin: 0;
  position: relative;
  padding: @block-label-wrapper-padding-y * @size-scale 0;
  text-align: left;

  &--auto-height {
    .@{block-label-prefix}__content {
      height: auto;
      min-height: @block-label-bar-height * @size-scale;
      padding-top: (@block-label-bar-height / 2) * @size-scale;
      padding-bottom: @block-label-content-padding-y * @size-scale;
    }

    .@{block-label-prefix}__label {
      height: auto;
      min-height: @block-label-label-height * @size-scale;
    }

    .@{block-label-prefix}__bar {
      height: auto;
      min-height: @block-label-bar-height * @size-scale;
    }
  }
}

.@{block-label-prefix}__info {
  .@{block-label-prefix}__bar {
    border-color: @block-label-info-border-color;
  }

  .@{block-label-prefix}__helper {
    opacity: 1;
    color: @block-label-info-helper-color;
  }
}

.@{block-label-prefix}__success {
  .@{block-label-prefix}__bar {
    border-color: @block-label-success-border-color;
  }

  .@{block-label-prefix}__helper {
    opacity: 1;
    color: @block-label-success-helper-color;
  }
}

.@{block-label-prefix}__warn {
  .@{block-label-prefix}__bar {
    border-color: @block-label-warn-border-color;
  }

  .@{block-label-prefix}__helper {
    opacity: 1;
    color: @block-label-warn-helper-color;
  }
}

.@{block-label-prefix}__error {
  .@{block-label-prefix}__bar {
    border-color: @block-label-error-border-color;
  }

  .@{block-label-prefix}__helper {
    opacity: 1;
    color: @block-label-error-helper-color;
  }
}

.@{block-label-prefix}__disabled {
  pointer-events: none;

  .@{block-label-prefix}__bar {
    border-color: @block-label-disabled-border-color;
  }

  .@{block-label-prefix}__label {
    color: @block-label-disabled-color;
  }

  .@{block-label-prefix}__content {
    color: @block-label-disabled-color;
  }

  .@{block-label-prefix}__helper {
    opacity: 1;
    color: @block-label-disabled-color;
  }
}

.@{block-label-prefix}__prefix {
  height: @block-label-label-height * @size-scale;
  display: flex;
  align-items: center;
  padding-left: @block-label-prefix-padding-left * @size-scale;
}

.@{block-label-prefix}__bar {
  width: 100%;
  margin-bottom: @block-label-bar-margin-bottom * @size-scale;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid @block-label-bar-border-color;
  border-radius: @block-label-bar-border-radius;
  transition: border-color @block-label-transition-duration;
  height: @block-label-bar-height * @size-scale;
}

.@{block-label-prefix}__content {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: @block-label-bar-height * @size-scale;
  padding: 0 @block-label-content-padding-x * @size-scale;
  font-size: @block-label-content-font-size * @size-scale;
  font-weight: 400;
  color: @block-label-content-color;

  &--active {
    padding-top: @block-label-content-padding-top-active * @size-scale;
  }

  input {
    height: 100%;
    line-height: @block-label-bar-height * @size-scale;
    caret-color: @block-label-caret-color;
  }
}

.@{block-label-prefix}__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: @block-label-content-padding-x * @size-scale;
  height: @block-label-label-height * @size-scale;
  line-height: @block-label-label-height * @size-scale;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  // top: 16px * @size-scale;
  transform-origin: left;
  transform: translateY(-50%);
  // transition: transform 0.2s, top 0.2s, left 0.2s, color 0.2s, font-size 0.2s;
  // will-change: transform, top, left;
  pointer-events: none;
  font-size: @block-label-label-font-size * @size-scale;
  font-weight: 400;
  color: @block-label-label-color;

  &--active {
    top: @block-label-label-top-active * @size-scale;
    transform: translateY(0);
    font-size: @block-label-label-font-size-active * @size-scale;
    font-weight: 400;
    // color: #666;
  }

  &--capitalize {
    text-transform: capitalize;
  }
}

.@{block-label-prefix}__placeholder {
  color: @block-label-placeholder-color;
  padding-left: @block-label-content-padding-x * @size-scale;
  padding-right: @block-label-content-padding-x * @size-scale;
  padding-top: @block-label-placeholder-padding-top * @size-scale;
}

.@{block-label-prefix}__suffix {
  display: flex;
  align-items: center;
  overflow: visible;
  height: 100%;
  max-height: @block-label-bar-height * @size-scale;
  padding-right: @block-label-suffix-padding-right * @size-scale;
}

.@{block-label-prefix}__helper {
  opacity: 0;
  padding-left: @block-label-helper-padding-x * @size-scale;
  padding-right: @block-label-helper-padding-x * @size-scale;
  transition: opacity @block-label-transition-duration, color @block-label-transition-duration;
  min-height: @block-label-helper-min-height * @size-scale;
  font-size: @block-label-helper-font-size * @size-scale;
}
