@import '../../theme/vars.less';
@import '../Spinner/style.less';
@import './Group/style.less';

// @no-cssvar: 用于生成选择器名称
@cell-prefix: ~'exd-cell';
@cell-background: #fff;
@cell-border-color: #f2f2f2;
@cell-label-color: #333;
@cell-description-color: #969799;
@cell-active-background: #f8f8f8;
@cell-padding-x: 16px;
@cell-border-left: 16px;
@cell-label-margin-right: 8px;
@cell-prefix-margin-right: 16px;
@cell-suffix-margin-left: 10px;
@cell-loading-size: 20px;

// 尺寸相关变量
@cell-padding-y-normal: 10px;
@cell-padding-y-small: 8px;
@cell-padding-y-large: 12px;
@cell-font-size-normal: 14px;
@cell-font-size-small: 12px;
@cell-font-size-large: 16px;
@cell-description-font-size-normal: 12px;
@cell-description-font-size-small: 10px;
@cell-description-font-size-large: 14px;

@cell-transition-duration: @transition-speed-fast;

.@{cell-prefix} {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background-color: @cell-background;

  &-border {
    & + &,
    &-always {
      &::before {
        position: absolute;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        right: 0;
        top: 0;
        left: @cell-border-left * @size-scale;
        border-top: 1px solid @cell-border-color;
        transform: scaleY(1);
      }
    }
  }

  &-label,
  &-value {
    display: flex;
    align-items: center;
  }

  &-label {
    flex: 1;
    justify-content: flex-start;
    margin-right: @cell-label-margin-right * @size-scale;
    color: @cell-label-color;

    &-content {
      width: 100%;
    }
  }

  &-description {
    color: @cell-description-color;
  }

  &-value {
    // flex: 1.2;
    justify-content: flex-end;
    overflow: hidden;
    display: flex;

    &-content {
      flex: 1;
    }

    &.@{cell-prefix}-value-only {
      flex: 1;
      color: @cell-label-color;
      justify-content: flex-start;
    }
  }

  &-prefix {
    margin-right: @cell-prefix-margin-right * @size-scale;
  }

  &-suffix {
    margin-left: @cell-suffix-margin-left * @size-scale;
  }

  &-value,
  &-suffix {
    color: @color-gray-secondary;
    text-align: right;
    vertical-align: middle;
    word-wrap: break-word;

    &.@{cell-prefix}-value-only {
      text-align: left;
    }
  }

  &-tapable {
    transition: background-color @cell-transition-duration;
    cursor: pointer;

    &:active {
      background-color: @cell-active-background;
    }
  }

  &-loading {
    width: @cell-loading-size * @size-scale;
    height: 0;
    overflow: visible;
    position: relative;

    .exd-spin {
      position: absolute;
      left: 0;
      top: -@cell-loading-size / 2 * @size-scale;
      width: @cell-loading-size * @size-scale;
      height: @cell-loading-size * @size-scale;
      max-width: @cell-loading-size * @size-scale;
      max-height: @cell-loading-size * @size-scale;
    }
  }
}

// 尺寸相关
.@{cell-prefix} {
  &-normal {
    padding: @cell-padding-y-normal * @size-scale @cell-padding-x * @size-scale;

    .@{cell-prefix} {
      &-label,
      &-value {
        font-size: @cell-font-size-normal * @size-scale;
      }

      &-description {
        font-size: @cell-description-font-size-normal * @size-scale;
      }
    }
  }

  &-small {
    padding: @cell-padding-y-small * @size-scale @cell-padding-x * @size-scale;

    .@{cell-prefix}-label,
    .@{cell-prefix}-value {
      font-size: @cell-font-size-small * @size-scale;
    }

    .@{cell-prefix}-description {
      font-size: @cell-description-font-size-small * @size-scale;
    }
  }

  &-large {
    padding: @cell-padding-y-large * @size-scale @cell-padding-x * @size-scale;

    .@{cell-prefix}-label,
    .@{cell-prefix}-value {
      font-size: @cell-font-size-large * @size-scale;
    }

    .@{cell-prefix}-description {
      font-size: @cell-description-font-size-large * @size-scale;
    }
  }
}
