@import './Item/style.less';
@import '../../theme/vars.less';

// @no-cssvar: 用于生成选择器名称
@flex-prefix: ~'exd-flex';

.@{flex-prefix} {
  display: flex;
  flex-wrap: wrap;

  &-no-wrap {
    flex-wrap: nowrap;
  }

  &-start {
    justify-content: flex-start;
  }

  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }

  &-space-between {
    justify-content: space-between;
  }

  &-space-around {
    justify-content: space-around;
  }

  &-middle {
    align-items: center;
  }

  &-top {
    align-items: flex-start;
  }

  &-bottom {
    align-items: flex-end;
  }
}
