@import '../../theme/vars.less'; // 引入全局样式变量集，内含 @size-scale、各类色值等变量
@import './Stamp/style.less';

// 由于 less 变量的懒生效特性，变量命名空间存在冲突，此处 prefix 变量命名前需要加特定前缀
// https://less.bootcss.com/features/#variables-lazy-evaluation
// @no-cssvar: 用于生成选择器名称
@badge-prefix: ~'exd-badge';
@badge-color: @color-white;
@badge-background: @ant-color-red-5; // #ff4d4f
@badge-min-width: 16px;
@badge-padding-x: 4px;
@badge-font-size: 9px;
@badge-border-radius: 100px;
@badge-line-height: 1.2;
@badge-fixed-z-index: 99;
@badge-dot-size: 10px;

.@{badge-prefix}-wrap {
  display: inline-block;
  position: relative;
}

.@{badge-prefix} {
  display: inline-block;
  color: @badge-color;
  background-color: @badge-background;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  min-width: @badge-min-width;
  border-radius: @badge-border-radius;
  padding: 0 @badge-padding-x;
  font-size: @badge-font-size;
  line-height: @badge-line-height * @size-scale;
  white-space: nowrap;

  &-fixed {
    position: absolute;
    transform: translate(50%, -50%);
    z-index: @badge-fixed-z-index;
    top: 0%;
    right: 0%;
  }

  &-dot {
    min-width: @badge-dot-size;
    width: @badge-dot-size;
    height: @badge-dot-size;
    border-radius: @badge-dot-size / 2;
  }

  &-hidden {
    visibility: hidden;
  }

  &-status {
    &-primary {
      background-color: @color-primary;
    }

    &-success {
      background-color: @color-success;
    }

    &-warning {
      background-color: @color-warning;
    }

    &-danger {
      background-color: @color-danger;
    }
  }
}
