@import '../../theme/vars.less'; // 引入全局样式变量集，内含 @size-scale、各类色值等变量

// 由于 less 变量的懒生效特性，变量命名空间存在冲突，此处 prefix 变量命名前需要加特定前缀
// https://less.bootcss.com/features/#variables-lazy-evaluation
// @no-cssvar: 用于生成选择器名称
@slider-prefix: ~'exd-slider';

// Slider 变量定义
@slider-track-size: 4px;
@slider-transition-duration: 0.06s;
@slider-horizontal-padding: 16px;
@slider-vertical-padding: 16px;
@slider-vertical-height: 160px;
@slider-bar-background: #e6e6e6;
@slider-node-size: 14px;
@slider-node-color: @color-primary;
@slider-track-color: @color-primary;
@slider-disabled-opacity: 0.5;

.@{slider-prefix} {
  &-disabled {
    opacity: @slider-disabled-opacity;
  }

  &-horizontal {
    padding: @slider-horizontal-padding * @size-scale 0;

    .@{slider-prefix} {
      &-bar {
        width: 100%;
        height: @slider-track-size * @size-scale;
      }

      &-node {
        top: 50%;
        // transition: left @slider-transition-duration;
      }

      &-track {
        height: @slider-track-size * @size-scale;
        // transition: width @slider-transition-duration, left @slider-transition-duration;
      }
    }
  }

  &-vertical {
    display: inline-block;
    padding: 0 @slider-vertical-padding * @size-scale;
    height: @slider-vertical-height * @size-scale;

    .@{slider-prefix} {
      &-bar {
        height: 100%;
        width: @slider-track-size * @size-scale;
        // @hardcoded-ignore
        transform: rotate(180deg);
      }

      &-node {
        left: 50%;
        // transition: top @slider-transition-duration;
      }

      &-track {
        width: @slider-track-size * @size-scale;
        // transition: height @slider-transition-duration, top @slider-transition-duration;
      }
    }
  }

  &-bar {
    background-color: @slider-bar-background;
    position: relative;
  }

  &-node {
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    width: @slider-node-size * @size-scale;
    height: @slider-node-size * @size-scale;
    border-radius: 50%;
    background-color: @slider-node-color;
  }

  &-track {
    position: relative;
    background-color: @slider-track-color;
    transform: translateZ(0);
  }
}
