@import '../../TransitionFade/style.less';
@import '../../TransitionSlideDown/style.less';
@import '../../TransitionSlideUp/style.less';
@import '../../Modal/style.less';

// @no-cssvar: 用于生成选择器名称
@toast-prefix: ~'exd-toast';
@toast-padding: 16px;
@toast-offset: 16px;
@toast-offset-top: @toast-offset;
@toast-offset-bottom: @toast-offset;
@toast-content-padding-x: 16px;
@toast-content-padding-y: 8px;
@toast-content-background: rgba(0, 0, 0, 0.8);
@toast-content-color: #fff;
@toast-content-font-size: 14px;
@toast-content-border-radius: 4px;
@toast-icon-size-center: 38px;
@toast-icon-size-edge: 18px;

.@{toast-prefix} {
  box-sizing: border-box;
  padding: @toast-padding * @size-scale;

  &.@{modal-prefix}-center {
    width: 100%;

    .@{toast-prefix}-content {
      flex-direction: column;
    }

    .@{toast-prefix}-icon {
      font-size: @toast-icon-size-center * @size-scale;
      margin-bottom: 6px * @size-scale;
    }
  }

  &.@{modal-prefix}-top {
    margin-top: @toast-offset-top * @size-scale;
    padding-bottom: 0;
  }

  &.@{modal-prefix}-bottom {
    margin-bottom: @toast-offset-bottom * @size-scale;
    padding-top: 0;
  }

  &.@{modal-prefix}-top,
  &.@{modal-prefix}-bottom {
    .@{toast-prefix}-icon {
      font-size: @toast-icon-size-edge * @size-scale;
      margin-right: 6px * @size-scale;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: @toast-content-border-radius;
    background: @toast-content-background;
    color: @toast-content-color;
    box-sizing: border-box;
    font-size: @toast-content-font-size * @size-scale;
    padding: @toast-content-padding-y * @size-scale @toast-content-padding-x * @size-scale;
  }

  &-untouchable {
    pointer-events: none;
  }
}
